
/* ---- Variables ---- */

$screen-1280-up: 1281px

$color-font: #333
$color-font-lightest: lighten($color-font, 60%)
$color-font-lighter: lighten($color-font, 50%)
$color-font-light: lighten($color-font, 30%)
$color-font-hover: lighten($color-font, 20%)
$background: #f7f7f7
$color-grey-light: #f0f0f0
$color-grey-dark: darken($color-grey-light, 5%)

$color-green-light: #88dba3
$color-red-light: #f15c5c

$font-size-base: 16px
$line-height: 1.7

$font-size-large:         ceil(($font-size-base * 1.125)) // ~18px
$font-size-small:         ceil(($font-size-base * 0.75)) // ~12px

$font-size-h1:            floor(($font-size-base * 2.25)) // ~36px
$font-size-h2:            floor(($font-size-base * 1.875)) // ~30px
$font-size-h3:            ceil(($font-size-base * 1.5)) // ~24px
$font-size-h4:            ceil(($font-size-base * 1.125)) // ~18px
$font-size-h5:            $font-size-base
$font-size-h6:            ceil(($font-size-base * 0.75)) // ~12px

$nav-text-height: 50px

$padding-top: 6rem

$margin-padding-base: 15px


=article-padding($padding)
  padding-top: $padding
  padding-bottom: $padding


=article-padding-sides($padding)
  padding-left: $padding
  padding-right: $padding


=box-shadow-left
  -webkit-box-shadow: 0 0 30px 1px rgba(0,0,0,0.08)
  box-shadow: 0 0 30px 1px rgba(0,0,0,0.08)


/* ---- Styles ---- */

body
  font-size: $font-size-base
  line-height: $line-height

html,
body
  height: 100%


body
  background: $background


.container-fluid
  max-width: 1170px


#wrapper
  +box-shadow-left
  background: #fff
  min-height: 100%


.label-running
  background-color: $color-green-light


.label-finished
  background-color: $color-red-light


.sub-title
  font-size: 1.2em
  color: $color-font-light


.navbar-white
  background: none
  padding: 3em 100px 1em
  border: none
  .navbar-brand
    font-size: $font-size-h1
    line-height: $nav-text-height
    font-family: 'Roboto Slab', serif
    font-weight: bold
  .navbar-nav
    li
      a
        line-height: $nav-text-height

h1
  font-size: $font-size-h1

.content-header
  padding-bottom: $padding-top
  .page-header
    margin: 0

.cards-vertical-2
  padding-bottom: $padding-top
  p
    line-height: $line-height
  & > div
    padding-bottom: $padding-top
    &:last-child
      padding-bottom: 0
  h2.entry-title
    font-size: $font-size-h2
    margin-top: $margin-padding-base
    margin-bottom: $margin-padding-base
  .entry-header
    padding-top: $margin-padding-base
    padding-bottom: $margin-padding-base
    // text-align: center
    .image
      text-align: center
    img
      max-width: 100%
      height: auto
      // border-radius: 50%
  .entry-category
    width: 100%
    text-align: center
    font-weight: 700
  .entry-meta,
  footer.entry-meta
    padding-top: $margin-padding-base
  .entry-meta
    color: $color-font-lightest
    font-size: $font-size-small
    a
      color: $color-font-lighter
      &:hover
        color: $color-font-light
    .glyphicon
      margin-right: 1rem
    .entry-date
    .by-author
      margin-left: 1.5rem
  .skills
    ul
      li
        line-height: $line-height
    .table
      td:first-child
        width: 30%
      .progress
        margin-bottom: 0


.divider
  margin-left: 1em
  margin-right: 1em
  color: $color-grey-dark


.hz-divider
  font-size: 2em
  margin: 1em 0
  color: $color-grey-light

.content
  hr
    margin-left: -15px
    margin-right: -15px
    border-color: $color-grey-dark


.shrink
  max-height: 50px
  .navbar-brand
    height: auto


.shrink-logo
  height: 20px
  width: 20px


nav.navbar
  // Animation
  -webkit-transition: all 0.4s ease
  transition: all 0.4s ease


/* ---- Sidebar ---- */

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* ---- Toggle Styles ---- */

#wrapper
  margin-left: 0
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease
  #sidebar-wrapper
    // z-index: 1000
    position: fixed
    left: 300px
    width: 0
    height: 100%
    margin-left: -300px
    overflow-y: auto
    // background: $background
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease
  #page-content-wrapper
    width: 100%
    position: absolute
    border-left: 1px solid #e3e3e3
    border-right: 1px solid #e3e3e3
  &.toggled
    margin-left: 300px
    #sidebar-wrapper
      width: 300px
    #page-content-wrapper
      position: absolute
      margin-right: -300px

.light
  font-weight: lighter


/* ---- Sidebar Styles ---- */

.sitebrand-header
  text-align: center
  padding-bottom: 20px
  background: #f9f9f9
  img
    margin: 30px 0 10px 0
  h2
    font-size: 2rem
    font-weight: 700
  .sub-title
    font-size: 1.3rem
    font-weight: 300
  .portrait
    // border-radius: 50%


.sidebar-nav
  position: absolute
  top: 0
  width: 300px
  margin: 0
  padding: 0
  list-style: none
  ul
    margin: 0
    padding: 0
  li
    text-indent: 40px
    line-height: 50px
    border-bottom: 1px solid $color-grey-dark
    &:first-child
      border-top: 1px solid $color-grey-dark
    a
      display: block
      text-decoration: none
      color: $color-font-light
      &:hover
        text-decoration: none
        color: $color-font-hover
        background: $color-grey-dark
      &:active,
      &:focus
        text-decoration: none
  .sidebar-brand
    a
      color: $color-font-light
      &:hover
        color: $color-font-hover
        text-decoration: none
        background: none


.sidebar-right
  padding-right: 100px

/* ---- MEDIA QUERIES ---- */

@media(min-width: $screen-lg-min)
  #wrapper
    margin-left: 300px
    #sidebar-wrapper
      width: 300px
    #page-content-wrapper
      position: relative
    &.toggled
      margin-left: 0
      #sidebar-wrapper
        width: 0
      #page-content-wrapper
        position: relative
        margin-right: 0


@media (max-width: $screen-lg-min)
  .content,
  .content-header
    +article-padding(6rem)
    +article-padding-sides(3rem)
    // text-align: center


@media (min-width: $screen-1280-up)
  #wrapper
    margin-right: 300px

@media (min-width: $screen-md-min)
  .content,
  .content-header
    //padding-left: 50px
    //padding-right: 50px

@media (min-width: $screen-lg-min)
  article,
  .content-header
    padding-left: 100px
    padding-right: 100px


  .content-header
    padding-right: 100px


/* ---- menu-icon Hamburgerstyle ---- */

.menu-toggle-icon
  padding: 1em


#navicon
  display: inline-block
  width: 1.75em
  height: .2em
  line-height: 0
  border-top: .8em double #000
  border-bottom: .3em solid #000
  &, &:before, &:after
    box-sizing: content-box
