$color-font-standard: #333
$color-font-light: #999
$color-font-hover: #666
$background: #e5e5e5
$color-border-light: #c5c5c5

ul.skills
  -webkit-padding-start: 0px
  li
    list-style-type: none

.sub-title
  font-size: 1.2em
  color: $color-font-light

.cards
  box-shadow: 0 1px 13px rgba(0,0,0,0.15)
  margin-bottom: 2em
  background: #fff
  padding: 0
  .entry-header
    img
      width: 100%
      height: auto
  .entry-category
    width: 100%
    padding: 1rem 4rem
    box-shadow: 0 5px 13px -5px rgba(0,0,0,0.35)
    font-weight: 700
    &.closed.projects
      color: #fff
      background: #f15c5c
    &.running.projects
      color: #fff
      background: #88dba3
  .entry-title,
  .entry-meta,
  .entry-content,
  .entry-footer
    padding: 0 4rem
  .entry-title
    padding-top: 2rem
  footer.entry-meta
    padding-bottom: 4rem
  header
    .entry-meta
      color: $color-font-light
      font-size: .9em
      .glyphicon
        margin-right: 1rem
      .entry-date
        margin-right: 2rem







.cards-vertical
  box-shadow: 0 1px 13px rgba(0,0,0,0.15)
  margin-bottom: 2em
  background: #fff
  padding: 0
  .entry-header
    padding-top: 15px
    img
      max-width: 100%
      height: auto
  .entry-category
    width: 100%
    text-align: center
    padding: 1rem
    box-shadow: 0 5px 13px -5px rgba(0,0,0,0.35)
    font-weight: 700
    &.closed.projects
      color: #fff
      background: #f15c5c
    &.running.projects
      color: #fff
      background: #88dba3
  .entry-meta,
  footer.entry-meta
    padding-top: 15px
  .entry-meta
    color: $color-font-light
    font-size: .9em
    .glyphicon
      margin-right: 1rem
    .entry-date
      margin-right: 2rem




.cards-vertical-2
  box-shadow: 0 1px 13px rgba(0,0,0,0.15)
  margin-bottom: 2em
  background: #fff
  padding: 0
  h2.entry-title
    font-size: 18px
    margin-top: 15px
    margin-bottom: 15px
  .entry-header
    padding-top: 15px
    padding-bottom: 15px
    text-align: center
    img
      max-width: 100%
      height: auto
  .entry-category
    width: 100%
    text-align: center
    padding: 1rem
    /*box-shadow: 0 5px 13px -5px rgba(0,0,0,0.35)*/
    font-weight: 700
    &.closed.projects
      color: #fff
      background: #f15c5c
    &.running.projects
      color: #fff
      background: #88dba3
  .entry-meta,
  footer.entry-meta
    padding-top: 15px
  .entry-meta
    color: $color-font-light
    font-size: .9em
    .glyphicon
      margin-right: 1rem
    .entry-date
      margin-right: 2rem
















.hz-divider
  font-size: 2em
  margin: 1em 0
  color: $color-border-light

#page-content-wrapper
  background: $background

.row
  max-width: 1170px
  padding-left: -250px


.shrink
  max-height: 50px
  .navbar-brand
    height: auto

.shrink-logo
  height: 20px
  width: 20px

nav.navbar
  // Animation
  -webkit-transition: all 0.4s ease
  transition: all 0.4s ease


/* + + + + Sidebar + + + + */


/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper
    padding-left: 0
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease


#wrapper.toggled
    padding-left: 250px

#sidebar-wrapper
    z-index: 1000
    position: fixed
    left: 250px
    width: 0
    height: 100%
    margin-left: -250px
    overflow-y: auto
    background: $background
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease


#wrapper.toggled #sidebar-wrapper
    width: 250px


#page-content-wrapper
    width: 100%
    position: absolute
    padding: 15px


#wrapper.toggled #page-content-wrapper
    position: absolute
    margin-right: -250px


/* Sidebar Styles */

.sitebrand-header
  text-align: center
  padding-bottom: 20px
  img
    margin: 30px 0 10px 0
  h2
    font-size: 2rem
    font-weight: 700
  .sub-title
    font-size: 1.3rem
    font-weight: 300
  .portrait
    border-radius: 50%
    // box-shadow: 0 1px 13px rgba(0,0,0,.25)
    /* border: 5px solid #fff */

.sidebar-nav
  position: absolute
  top: 0
  width: 250px
  margin: 0
  padding: 0
  list-style: none
  ul
    margin: 0
    padding: 0
  li
    text-indent: 20px
    line-height: 40px
    border-bottom: 1px solid $color-border-light
    &:first-child
      border-top: 1px solid $color-border-light
    a
      display: block
      text-decoration: none
      color: $color-font-light
      &:hover
        text-decoration: none
        color: $color-font-hover
        background: rgba(0,0,0,0.1)
      &:active,
      &:focus
        text-decoration: none
  .sidebar-brand
    a
      color: $color-font-light
      &:hover
        color: $color-font-hover
        text-decoration: none
        background: none


@media(min-width: 992px)
  #wrapper
    padding-left: 250px

  #wrapper.toggled
    padding-left: 0

  #sidebar-wrapper
    width: 250px

  #wrapper.toggled #sidebar-wrapper
    width: 0

  #page-content-wrapper
    padding: 20px
    position: relative

  #wrapper.toggled #page-content-wrapper
    position: relative
    margin-right: 0



/* menu-icon Hamburgerstyle */

.menu-toggle-icon
  padding: 1em

#navicon
  display: inline-block
  width: 1.75em
  height: .2em
  line-height: 0
  border-top: .8em double #000
  border-bottom: .3em solid #000
  &, &:before, &:after
    box-sizing: content-box
